body {
    background-image: url('../img/5559852.jpg');
}

.customform {
    
    padding: 50px;
    max-width: 700px;
    text-align: center;
    margin: 75px auto;
    /*border: 3px solid gray;*/
}
